<form class = "example-form">
  <mat-form-field class = "example-full-width">
    <input matInput placeholder="CharacterName" [(value)]= 'character.characterName'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput placeholder="Level" [(value)]= 'character.characterLevel'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput placeholder="Alignment" [(value)]= 'character.alignment'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput placeholder="Deity" [(value)]= 'character.deity'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput placeholder="Player" [(value)]= 'character.player'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput placeholder="homeland" [(value)]= 'character.homeland'>
  </mat-form-field>
</form>
