<form class = "example-form">
  
    <label class="label">Basic Info</label>
    <div>
  <mat-form-field class = "example-full-width">
    <input matInput type="text" placeholder="CharacterName" [(value)]= 'character.characterName'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input type="number" placeholder="Level" [(value)]= 'character.characterLevel'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input type="text" placeholder="Alignment" [(value)]= 'character.alignment'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input type="text" placeholder="Deity" [(value)]= 'character.deity'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input type="text" placeholder="Player" [(value)]= 'character.player'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input type="text" placeholder="homeland" [(value)]= 'character.homeland'>
  </mat-form-field>
</div>
</form>
