<mat-card>
  <mat-card-header>
    <mat-card-title class ="mat-head-title">Basic Info</mat-card-title>
  </mat-card-header>
<form class = "example-form">
   <mat-form-field class = "example-full-width">
    <input matInput type="text" placeholder="CharacterName" [(value)]= 'character.characterName'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput type="number" placeholder="Level" [(value)]= 'character.characterLevel'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput type="text" placeholder="Alignment" [(value)]= 'character.alignment'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput type="text" placeholder="Deity" [(value)]= 'character.deity'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput type="text" placeholder="Player" [(value)]= 'character.player'>
  </mat-form-field>
  <mat-form-field class = "example-full-width">
    <input matInput type="text" placeholder="homeland" [(value)]= 'character.homeland'>
  </mat-form-field>
</form>
</mat-card>